header {
  background-color: #ed2323; }
  header img.safifurra {
    width: 100px;
    border-radius: 50px;
    border: 3px solid #fbe6e5; }

main {
  background-color: #fbe6e5;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "card"; }
  main div.col.card {
    grid-area: card; }

nav.reel {
  display: flex;
  justify-items: center;
  align-items: center; }

footer {
  background-color: #281d2d;
  height: fit-content;
  color: #fbe6e5; }
  footer div.subscribirse {
    justify-items: center;
    padding: 5px;
    background-color: #51385c; }
    footer div.subscribirse img.figaro__corona {
      width: 100px; }
    footer div.subscribirse p {
      padding: 10px; }
    footer div.subscribirse button.btn {
      align-items: center;
      justify-items: center; }
  footer div.footer__bottom {
    justify-items: left;
    text-align: left; }
    footer div.footer__bottom ul {
      padding: 0;
      list-style: none; }
      footer div.footer__bottom ul li.copyright {
        font-weight: 100;
        display: flex; }
  footer img.safifurra {
    display: inline-block;
    width: 50px;
    border-radius: 25px;
    border: 3px solid #fbe6e5; }

* {
  font-family: 'Roboto', sans-serif; }
