* {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

header {
  height: 150px;
  background-color: #ed2323;
  display: flex;
  align-items: center;
  justify-content: center; }
  header div div div {
    display: flex !important;
    align-items: center;
    justify-content: center; }
    header div div div img.safifurra {
      width: 100px;
      border-radius: 50px;
      border: 3px solid #fbe6e5; }
  header div div div.social {
    display: flex;
    gap: 20px; }
    header div div div.social a {
      color: #281d2d; }
  header div div div.logIn a {
    color: #281d2d; }

main {
  background-color: #fbe6e5;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  main div.container.text-center div.row.row-cols-1 {
    align-items: center;
    justify-content: center;
    gap: 50px; }
    main div.container.text-center div.row.row-cols-1 div.col {
      display: flex;
      background-color: #ea8533;
      border-radius: 100px;
      height: 300px;
      width: 300px;
      align-items: center;
      justify-content: center;
      text-align: center; }
      main div.container.text-center div.row.row-cols-1 div.col div.col.card1 {
        background-image: url(../assets/png/QuipaoNITRUSJPGKitsuneHime.jpg); }
      main div.container.text-center div.row.row-cols-1 div.col img {
        width: 300px;
        height: 300px;
        border-radius: 100px; }

nav.reel {
  display: flex;
  align-items: center;
  justify-content: center; }
  nav.reel div div div img.d-block {
    width: max-content;
    height: 250px;
    margin-right: 0; }
  nav.reel button.carousel-control-prev {
    display: block; }

footer {
  background-color: #281d2d;
  height: fit-content;
  color: #fbe6e5; }
  footer div.subscribirse {
    justify-items: center;
    padding: 5px;
    background-color: #51385c; }
    footer div.subscribirse img.figaro__corona {
      width: 100px; }
    footer div.subscribirse p {
      padding: 10px; }
    footer div.subscribirse button.btn {
      align-items: center;
      justify-items: center; }
  footer div.footer__bottom {
    justify-items: left;
    text-align: left; }
    footer div.footer__bottom ul {
      padding: 0;
      list-style: none; }
      footer div.footer__bottom ul li.copyright {
        font-weight: 100;
        display: flex; }
  footer img.safifurra {
    display: inline-block;
    width: 50px;
    border-radius: 25px;
    border: 3px solid #fbe6e5; }
