header {    
    background-color: $color-header;
    img.safifurra {
    width: 100px;
    @if screen == 992px {
      div.d-none {
        display: block;
      }
    }
    border-radius: 50px;
    border: 3px solid $color-body;
  }
}

