nav.reel { 
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        div{
            div{
                img.d-block{
                    width: max-content;
                    height: 250px;
                    margin-right: 0;                    
                }
            }
        }
    }
}